<h2 i18n="angular.title"></h2>
<div>
	<table class="table table-striped table-hover table-responsive">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="bookmark in model.bookmarks track by $index">
				<td>{{bookmark.entryId}}</td>
				<td>{{bookmark.name}}</td>
				<td><a ng-click="detail(bookmark);" >detail</a> | <a ng-click="delete(bookmark);" >delete</a></td>
			</tr>
		</tbody>
	</ul>
	</table>
	<a ng-click="add();" class="btn">Add bookmark</a>
	<br/>
	<br/>
	Liferay: {{model.release._buildNumber}} | Token: {{model.token}} | CompanyId: {{model.companyId}}
</div>